dump*
crontabfile
entrypoint.bash
redis-stable
redis-stable/*
sql
sql/*
dump.rdb

# Editor directories and files
.vscode
.vscode/*
.idea/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?