# Временно
redis-stable
redis-stable/*
sql
sql/*
dump.rdb
../crontabfile
../entrypoint.bash
src/logger
*redisConfig*

# Logs
logs
*.log
*.env
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
Icon

node_modules
dist
dist-ssr
*.local
config/default.json
config/config.json

# Editor directories and files
.vscode
.vscode/*
.idea/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
