*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 480px;
    min-width: 75%;
    padding: 20px;
    background-color: #f8f8f9;
    border-radius: 20px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background-color: #ffffff;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 8px 18px;
    height: 48px;
    width: 100%;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 16px;
    transition: all .2s ease;
}


    input:focus,
    textarea:focus,
    select:focus {
        border-color: #198754;
    }



fieldset {
    margin-bottom: 28px;
    border: none;
}

legend {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 16px;
}

h3 {
    text-align: center
}
